<div class="info-book-page">
  <div class="info-image">
    <img src="{{ book.photo }}" alt="{{ book.title }}" />
  </div>
  <div class="info-body">
    <h3>{{ book.title }}</h3>
    <p>{{ book.authors }}</p>
    <p>{{ book.publisher }}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto qui molestiae minima eos commodi nam non, illo iusto laborum voluptatibus eaque ipsum accusantium facilis. Eius id voluptas at laudantium illum.</p>
    <span class="price">Price: R$ 50,00</span>
  </div>
</div>
