<div class="nav-component">
  <mat-toolbar>
    <mat-toolbar-row class="nav-bar">
      <div class="menu-and-logo">
        <button mat-icon-button color="primary" aria-label="Menu button">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Library</span>
      </div>
      <nav class="nav-links">
        <a mat-button routerLink="/dashboard" class="nav-link">Dashboard</a>
        <a mat-button routerLink="/register" class="nav-link">Register</a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
