<div class="card">
  <div class="row g-0">
    <div class="col-4">
      <img
        src="https://images-na.ssl-images-amazon.com/images/I/31OQFGMA23L._SX310_BO1,204,203,200_.jpg"
        alt="LOTR book 1"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <div class="card-text">
          <p>Publisher: {{ publisher }}</p>
          <p>Authors: {{ authors }}</p>
        </div>
      </div>
    </div>
  </div>
</div>